<div class="jsonform-select" [hidden]="hidden" [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ jsonField.label }}</mat-label>
    <mat-select [formControlName]="jsonField.name">
      <mat-option *ngFor="let opt of jsonField.options" [value]="opt.value">
        {{opt.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button *ngIf="canEdit && !editMode" color="accent" (click)="toggleEditMode()">
    <mat-icon>edit</mat-icon>
  </button>
</div>


<app-json-form-field-editor 
  *ngIf="canEdit && editMode" 
  [jsonField]="jsonField"
  (onCancel)="toggleEditMode()"
  (onSubmit)="handleUpdateField($event)"
></app-json-form-field-editor>