<form [formGroup]="form" *ngIf="jsonForm" (ngSubmit)="handleSubmit()">

  <ng-container *ngFor="let f of jsonForm.fields">
    <ng-container [ngSwitch]="f.type">

      <!------------------------------------ input field ---------------------------------->
      <div class="jsonform-input" *ngSwitchCase="'input'" [hidden]="hiddenFields[f.name]">
        <mat-form-field>
          <mat-label>{{ f.label }}</mat-label>
          <input matInput placeholder="{{asJsonFormInputField(f).placeholder}}" [formControlName]="f.name">
        </mat-form-field>
      </div>
      <!------------------------------------ input field end ---------------------------------->


      <!------------------------------------ select field ---------------------------------->
      <div class="jsonform-select" *ngSwitchCase="'select'" [hidden]="hiddenFields[f.name]">
        <mat-form-field appearance="fill">
          <mat-label>{{ f.label }}</mat-label>
          <mat-select [formControlName]="f.name">
            <mat-option *ngFor="let opt of asJsonFormSelectField(f).options" [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!------------------------------------ select field end ---------------------------------->


    </ng-container>
  </ng-container>

  <button mat-raised-button color="primary" type="submit">Submit</button>

</form>
