<form [formGroup]="form" *ngIf="jsonForm" (ngSubmit)="handleSubmit()">

  <ng-container *ngFor="let f of jsonForm.fields">
    <ng-container [ngSwitch]="f.type">

      <app-json-form-input-field 
        *ngSwitchCase="'input'"
        [hidden]="hiddenFields[f.name]"
        [canEdit]="isAllowedToEditField(f.name)"
        [jsonField]="asJsonFormInputField(f)"
        (onUpdateField)="handleUpdateField($event, f)"
      ></app-json-form-input-field>

      <app-json-form-select-field
        *ngSwitchCase="'select'"
        [hidden]="hiddenFields[f.name]"
        [canEdit]="isAllowedToEditField(f.name)"
        [jsonField]="asJsonFormSelectField(f)"
        (onUpdateField)="handleUpdateField($event, f)"
      ></app-json-form-select-field>

    </ng-container>
  </ng-container>

  <button mat-raised-button color="primary" type="submit" style="margin-top: 1rem">Submit</button>

</form>

<div style="margin-top: 5rem;">
  <button *ngIf="!editMode && isAllowedToEditForm" mat-raised-button color="primary" (click)="toggleEditMode()">Edit form <mat-icon>edit</mat-icon></button>

  <button *ngIf="editMode && isAllowedToEditForm" mat-raised-button color="primary" (click)="toggleEditMode()">Exit edit mode <mat-icon>done</mat-icon></button>

</div>

